body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.first-para {
    width: 50%;
    padding-left: 5%;
    font-weight: 700;

}

.first-part {
    display: flex;
    margin-bottom: 150px;
    background-color: black;
    padding: 2%;
    border-radius: 50px;

}

.first-step {
    color: aliceblue;
    margin-left: 5%;

}

.second-step {
    width: 50%;
    padding-top: 10%;
    padding-left: 5%;
    font-weight: 700;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 30px;
}

#container {
    width: 20%;
    background-color: black;
    padding: 10px 40px;
    border-radius: 10px;
    margin-left: 30px;

}

.button-one {
    background-color: white;
    padding: 10px 30px;
    margin-top: 25px;
    margin-left: 30px;
    border-radius: 10px;
    text-decoration: none;

}

.button-two {
    background-color: white;
    padding: 10px 40px;
    margin-top: 25px;
    margin-left: 30px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none
}

.button-three {
    background-color: red;
    padding: 10px 40px;
    margin-top: 25px;
    margin-left: 30px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;

}